<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AKY Motors Assignment2</title> <!-- Title of the page -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> <!-- Custom site CSS -->
    <link rel="stylesheet" href="~/AKY_Motors_Assignment2.styles.css" asp-append-version="true" /> <!-- Additional custom CSS -->
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-#262626 box-shadow mb-3" style="background-color: #262626">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">AKY Motors</a>
                <!-- Toggle button for small screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!-- Navigation links -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/CarData">Products</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <!-- Main content -->
        <main role="main" class="pb-3">
            @RenderBody() <!-- Render body content -->
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - AKY_Motors_Assignment2 - <a asp-area="" asp-page="/Privacy">Privacy</a> <!-- Footer content -->
        </div>
    </footer>

    <!-- JavaScript libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false) <!-- Render additional scripts -->
</body>
</html>
