@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    .text-center {
        height: 80vh;
        color: white;
    }
</style>

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>
